body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: grey;
}

.nav .nav-link.active {
    background-color: #fff;
    color: #000;
}

.nav .nav-link, 
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #eee;
}

.section-title {
    font-family: 'Pacifico', cursive;
}

#sobre-restaurante {
    background-color: #eee;
}

.text-colored {
    color: gray;
}